/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 970px;
 background-color: rgb(68, 44, 122);
 margin: 0px;
 padding: 0px;
}
#header{
 min-height: 150px;
 width:960px;
 background-color: rgb(185, 18, 18);
 margin: 2px 2px 2px 2px; 
}
#navigation{
 min-height: 300px;
 width: 20%;
 background-color: blue;
 margin:0px 1% 0px 0px;
 display:inline-block;
 vertical-align:top;
}
#main_content{
 min-height: 400px;
 width: 75.5%;
 background-color: red;
 display:inline-block;
 margin: 0px 0px 0px 0px;
 padding:0px 0px 0px 1%;
}
.subcontents{
 min-height: 200px;
 width: 30%;
 background-color: yellow;
 margin:2% 1% 2% 1%;
 display: inline-block;
 vertical-align:top;
}
#advertisement{
 min-height: 120px;
 width: 95.5%;
 margin:0px 0px 0px 1%;
 background-color: purple;
 display: block;
}
