<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Register User</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
  <!--Flash messages here-->
  {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
  {% endwith %}
  <h1>All the Users</h1>
  <table border=1>
    <thead>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Age</td>
    </thead>
    {% for user in all_users %}
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.age}}</td>
      </tr>
    {% endfor %}
  </table>
  <h1>Add a User</h1>
  <form action="/add_user" method="POST">
    <p>First Name: <input type="text" name="first_name"></p>
    <p>Last Name: <input type="text" name="last_name"></p>
    <p>Email: <input type="text" name="email"></p>
    <p>Age: <input type="text" name="age"></p>
    <input type="submit" value="Add">
  </form>
</body>
</html>