<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Register User</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
  <h1>Create a new user</h1>
  <form action="/register" method="POST">
  <p>email <input type="text" name="email"></p>
  <p>password <input type="password" name="password"></p>
  <p>confirm password <input type="password" name="confirm_password"></p>
  <input type="submit" value="submit">
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages%}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <h1>Login - Current Users</h1>
  <form action="/login" method="POST">
    <p>email <input type="text" name="email"></p>
    <p>password <input type="password" name="password"></p>
    <input type="submit" value="submit">
    </form>
</body>
</html>