<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Checkerboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='checkerboard.css')}}" />
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript">
    var x = {{x}};
    console.log(x);
  </script>
  <script src="{{url_for('static',filename='checkerboard.js') }}"></script>-->
</head>
<body>
  <h1>Checkerboard</h1>
  <table>
    {% if x: %}
      {% set size = x %}
    {%else: %}
      {% set size = 8 %}
    {% endif %}

    {% for i in range(size): %}
    <tr>
      {% for j in range(size): %}
        <td class="color{{ (i+j)%2+1 }}"></td>
      {% endfor %}
    </tr> 
    {% endfor %}
  </table>
</body>
</html>