*{
  padding:0px;
  margin:0px;
}
div#header{
  border-bottom:2px solid black;
}
#header div{
  display:block;
  margin:8px;
}
form{
  width:48%;
  display:inline-block;
  vertical-align:top;
  margin-left:1%;
}
#messages{
  margin:8px;
  font-size: 13px;
  color:red;
}
#messages p{
  height:16px;
  margin:0px;
}
.hidden {
  display:none;
}
div#dashboard{
  margin-left:1%;
}